################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/visual-studio-repo/FileContentIndex/08eb3342-0e1c-4300-aac0-8cd83953cd69.vsidx
